<header>
	<img src="/images/hotwirelogo.png" id='logo'>
</header>
<br><h2>Missed Net Revenue Estimator</h2><br><br>
<div>
	<h1>
		<form id='room' action='/emptyrooms'>
			This year, my
			<select id="star" name="starselect">
				<option value="57" <%=@star==="57" ? selected="selected" : nil%>>2 - 2.5 star</option>
				<option value="81" <%=@star==="81" ? selected="selected" : nil%>>3 - 3.5 star</option>
				<option value="122" <%=@star==="122" ? selected="selected" : nil%>>4 - 4.5 star</option>
			</select>
			hotel had 
			<input type='number' name="roomnum" id="roominput" autocomplete="off" value="<%= @room unless nil%>">
		</form>
		empty rooms.
		<br><br>
		If I sold these on Hotwire, I could have realized $<%= number_with_delimiter(@value, :delimiter => ',') %>* incremental revenue.
		<br><br>
	</h1>
</div>
<footer>
	<div id='foot'>
		<p>
			*Estimate based on 2018 ADR averages in USD. Suggested rate depends on market, recommend score, season, and more.
			Please contact your Hotwire Hotel Account Manager to optimize your rate strategy.
		</p>
	</div>
</footer>